# Godot 4+ specific ignores
.godot/
textures/worn_planks_8k/textures/worn_planks_ao_8k.png
textures/worn_planks_8k/textures/worn_planks_arm_8k.png
textures/worn_planks_8k/textures/worn_planks_diff_8k.png
textures/worn_planks_8k/textures/worn_planks_nor_dx_8k.png
textures/worn_planks_8k/textures/worn_planks_nor_gl_8k.png
